@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.scrollbar::-webkit-scrollbar {
	height: 5px;
	width: 5px;
	background: transparent;
}

.scrollbar::-webkit-scrollbar-thumb {
	border-radius: 50px;
	@apply bg-primary;
}

@layer base {
	:root {
		--color-primary: 175.08deg 52.14% 54.12%;
		--color-primary-200: 170.27deg 67.27% 89.22%;
		--color-primary-300: 170.96deg 65.77% 78.24%;
		--color-primary-400: 173.45deg 60.44% 64.31%;
		--color-primary-600: 176.31deg 63.73% 40%;
		--color-primary-700: 177.2deg 66.46% 31.57%;
		--color-primary-800: 178.52deg 60.9% 26.08%;

		--color-secondary: 194.57deg 50.72% 72.94%;
		--color-secondary-200: 197.14deg 46.67% 97.06%;
		--color-secondary-300: 198.75deg 50% 93.73%;
		--color-secondary-400: 195.43deg 49.3% 86.08%;
		--color-secondary-600: 193.53deg 49.51% 59.61%;
		--color-secondary-700: 193.85deg 47.37% 48.43%;
		--color-secondary-800: 196deg 52.24% 39.41%;

		--color-accent: 205.45deg 51.3% 62.16%;
		--color-accent-200: 200.57deg 53.85% 87.25%;
		--color-accent-300: 200deg 54.55% 78.43%;
		--color-accent-400: 200.93deg 52.44% 67.84%;
		--color-accent-600: 209.46deg 47.06% 53.33%;
		--color-accent-700: 212.57deg 42.86% 48.04%;
		--color-accent-800: 214.07deg 39.51% 40.2%;

		--color-bg: 165deg 40% 98.04%;

		--color-tbase: 170deg 50% 7.06%;
	}
	:root[data-theme='dark'] {
		--color-primary: 175.08deg 52.14% 45.88%;
		--color-primary-200: 170.27deg 67.27% 89.22%;
		--color-primary-300: 170.96deg 65.77% 78.24%;
		--color-primary-400: 173.45deg 60.44% 64.31%;
		--color-primary-600: 176.31deg 63.73% 40%;
		--color-primary-700: 177.2deg 66.46% 31.57%;
		--color-primary-800: 178.52deg 60.9% 26.08%;

		--color-secondary:195.43deg 50.72% 27.06%;
		--color-secondary-200: 190deg 68.81% 42.75%;
		--color-secondary-300: 192.58deg 66.67% 36.47%;
		--color-secondary-400: 194.04deg 59.49% 30.98%;
		--color-secondary-600: 197.89deg 47.11% 23.73%;
		--color-secondary-700: 199.09deg 57.89% 14.9%;
		--color-secondary-800: 201.27deg 59.15% 8.7%;
		
		--color-accent: 204.85deg 51.3% 37.84%;
		--color-accent-200: 204.18deg 50.38% 73.92%;
		--color-accent-300: 202.8deg 48.54% 59.61%;
		--color-accent-400: 203.48deg 46.56% 48.43%;
		--color-accent-600: 205.61deg 50% 32.16%;
		--color-accent-700: 205.45deg 47.14% 27.45%;
		--color-accent-800: 206.54deg 42.62% 23.92%;

		--color-bg: 165deg 40% 1.96%;

		--color-tbase: 170deg 50% 92.94%;
	}
}
