@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';



@layer base {
	:root {
		--color-primary: 205deg 70% 31%;
		--color-secondary: 205deg 100% 92%;
		--color-accent: 205deg 60% 65%;
		--color-lightaccent: 205deg 100% 84%;
		--color-darkaccent: 206deg 49% 25%;
		--color-background: 0deg 0% 94%;
		--color-lightbackground: 206deg 100% 89%;
		/* ... */
	}
}
